<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>devextreme_asp_ui_template_gallery</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@23_2/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    @* Custom theme with a color swatch *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/#Color_Swatches *@
    
    @* Old Theme and Swatch *@
    @* <link href="~/css/devextreme/theme.base.css" rel="stylesheet" /> *@
    @* <link href="~/css/devextreme/theme.additional.css" rel="stylesheet" /> *@

    <link href="~/css/devextreme/dx.fluent.blue-light.css" rel="dx-theme" data-theme="fluent.blue.light" data-active="true" />
    <link href="~/css/devextreme/dx.fluent.blue-dark.css" rel="dx-theme" data-theme="fluent.blue.dark" data-active="false" />

    @* <link href="~/css/theme-light-generated.css" rel="stylesheet"/> *@
    <link href="~/css/styles-generated.css" rel="stylesheet"/>
    <link href="~/css/pages-generated.css" rel="stylesheet"/>
    <link href="~/css/app-generated.css" rel="stylesheet" />


    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>

    @* Uncomment to use Globalize for localization *@
    @* Docs: https://docs.devexpress.com/AspNetCore/400577#globalize *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    <script src="~/js/auth.js"></script>
</head>

<body class="dx-viewport">
    <div id="app">
        <div id="root">
             <div class="content">
                    <div id="side-nav-outer-toolbar">
                        <header>
                            <div class="header-component layout-header">
                            @(Html.DevExtreme().Toolbar()
                                .ElementAttr(new { @class = "header-toolbar" })
                                .Items(items => {
                                    items.Add()
                                        .Widget(w => w
                                            .Button()
                                            .Icon("menu")
                                            .StylingMode(ButtonStylingMode.Text)
                                            .OnClick("devextreme_asp_ui_template_gallery.onMenuButtonClick")
                                        )
                                        .Location(ToolbarItemLocation.Before)
                                        .CssClass("menu-button");
                                    items.Add()
                                        .Text("UI Template Gallery")
                                        .Location(ToolbarItemLocation.Before)
                                        .CssClass("header-title dx-toolbar-label");
                                    items.Add()
                                        .Location(ToolbarItemLocation.After)
                                        .CssClass("global-search-box")
                                        .Widget(w => w
                                            .TextBox()
                                            .Width(180)
                                            .Placeholder("Search")
                                            .Mode(TextBoxMode.Search)
                                            .StylingMode(EditorStylingMode.Filled)
                                        );
                                    items.Add()
                                        .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                                        .Location(ToolbarItemLocation.After)
                                        .Widget(w => w
                                            .Button()
                                            .OnInitialized("onThemeSwitcherInit")
                                            .ElementAttr(new { @class = "theme-button" })
                                            .StylingMode(ButtonStylingMode.Text)
                                            .Icon("sun")
                                            .OnClick("onThemeSwitcherClick")
                                        );
                                    items.Add()
                                    .Location(ToolbarItemLocation.After)
                                    .Template(@<text>
                                        <div class="messages">
                                            <div id="messages-button"></div>
                                            <div class="dx-badge">4</div>
                                        </div>
                                    </text>);
                                    items.Add()
                                    .Location(ToolbarItemLocation.After)
                                    .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                                    .Template(@<text>
                                        <div>
                                            <div class="user-panel"><div id="userPanelDropDown" class="user-button"></div></div>
                                        </div>
                                    </text>);
                                })
                            )
                        </div>
                        </header>
@*                          @(Html.DevExtreme().Drawer()
                             .ID("layout-body")
                             .Position(DrawerPosition.Before)
                             .MinSize(48)
                             .MaxSize(250)
                             .CloseOnOutsideClick(false)
                             .Shading(false)
                             .Content(@<text>
                                 <div class="content">
                                     @RenderBody()
                                 </div>
                             </text>)
                             .Template(new TemplateName("navigation-treeview"))
                         )
                         @using (Html.DevExtreme().NamedTemplate("navigation-treeview"))
                         {
                            
                         } *@

                      @* <div class="layout-body layout-body-hidden">
                      </div> *@
                        
                          @(Html.DevExtreme().Drawer()
                            .ID("layout-body")
                            .Position(DrawerPosition.Before)
                            .Opened(new JS("devextreme_asp_ui_template_gallery.restoreDrawerOpened()"))
                            .MinSize(48)
                            .MaxSize(250)
                            .CloseOnOutsideClick(false)
                            .Shading(false)
                            .Content(@<text>
                              @* <div id="layout-drawer-scrollview" class="with-footer"> *@
                                  <div class="content">
                                      @RenderBody()
                                  </div>
                                  @* <div class="content-block">
                                      <div class="content-footer">
                                          <div id="footer">
                                              Copyright (c) 2000-2024 Developer Express Inc.
                                              <br />
                                              All trademarks or registered trademarks are property of their respective owners.
                                          </div>
                                      </div>
                                  </div> *@
                              @* </div> *@
                              </text>)
                            .Template(new TemplateName("navigation-menu"))
                          )

                          @using (Html.DevExtreme().NamedTemplate("navigation-menu"))
                          {
                              <div class="menu-container">

                                @functions {
                                    string GetUrl(string pageName) => Url.Page(pageName);
                                    string GetCurrentUrl() => Url.Page(ViewContext.RouteData.Values["page"].ToString());
                                    bool IsCurrentUrl(string pageName) => GetUrl(pageName) == GetCurrentUrl();
                                }

                              @(Html.DevExtreme().TreeView()
                                  .Items(items =>
                                  {
                                      items.Add()
                                      .Text("Home")
                                      .Icon("home")
                                      .Option("path", GetUrl("/Index"))
                                      .Selected(IsCurrentUrl("/Index"));

                                      items.Add()
                                      .Text("About")
                                      .Icon("info")
                                      .Option("path", GetUrl("/About"))
                                      .Selected(IsCurrentUrl("/About"));
                                  })
                                  .ExpandEvent(TreeViewExpandEvent.Click)
                                  .SelectionMode(NavSelectionMode.Single)
                                  .SelectedExpr("selected")
                                  .FocusStateEnabled(false)
                                  .Width("100%")
                                  .OnItemClick("devextreme_asp_ui_template_gallery.onTreeViewItemClick")
                                  )

                              </div>
                          }
                    </div>
             </div>
        </div>
    </div>

    <script>
        DevExpress.ui.themes.current(window.localStorage.getItem("dx-theme") || "fluent.blue.light");

        function onThemeSwitcherInit(e) {
            DevExpress.ui.themes.current() === "fluent.blue.light" ? e.component.option("icon", "sun") : e.component.option("icon", "moon");
        }
        function onThemeSwitcherClick(e) {
            DevExpress.ui.themes.current() === "fluent.blue.light" ? e.component.option("icon", "moon") : e.component.option("icon", "sun");
            DevExpress.ui.themes.current() === "fluent.blue.light" ? DevExpress.ui.themes.current("fluent.blue.dark") : DevExpress.ui.themes.current("fluent.blue.light");
        }

        $(() => {
            const userMenuItems = [{
                text: "Logout",
                icon: "runner",
                onClick: () => onLogoutClick()
            }];

            function onLogoutClick(){
                console.log("Log out");
            }

            function onDrawerMenuButtonClick(){
                $("#layout-body").dxDrawer("instance").toggle();
            }

            $("#messages-button").dxButton({
                icon: "belloutline",
                stylingMode: "text"
            })

            $("#userPanelDropDown").dxDropDownButton({
                stylingMode: "text",
                icon: user.avatarUrl,
                showArrowIcon: false,
                dropDownOptions: {
                    width: "auto"
                },
                onContentReady: (e) => {
                    e.component.registerKeyHandler('downArrow', () => {
                        // userMenuSectionRef.value?.focusList();
                    });
                },
                dropDownContentTemplate: (data) => {
                    const wrapperDiv = $("<div class='user-info'></div>");
                    wrapperDiv.append($(`<div class='user-name'>${user.name} ${user.lastName}</div>`));
                    const divList = $("<div id='userInfoListRef' class='user-info-list'></div>")
                    divList.dxList({
                        items: userMenuItems,
                        onItemClick: ({itemData}) => itemData.onClick(),
                    });
                    return wrapperDiv.add(divList);
                },
            });
        });

        var devextreme_asp_ui_template_gallery = (function () {

            var DRAWER_OPENED_KEY = "devextreme_asp_ui_template_gallery-drawer-opened";

            var breakpoints = {
                xSmallMedia: window.matchMedia("(max-width: 599.99px)"),
                smallMedia: window.matchMedia("(min-width: 600px) and (max-width: 959.99px)"),
                mediumMedia: window.matchMedia("(min-width: 960px) and (max-width: 1279.99px)"),
                largeMedia: window.matchMedia("(min-width: 1280px)")
            };

            function getDrawer() {
                return $("#layout-body").dxDrawer("instance");
            }

            function restoreDrawerOpened() {
                var isLarge = breakpoints.largeMedia.matches;
                if(!isLarge)
                    return false;

                var state = sessionStorage.getItem(DRAWER_OPENED_KEY);
                if(state === null)
                    return isLarge;

                return state === "true";
            }

            function saveDrawerOpened() {
                sessionStorage.setItem(DRAWER_OPENED_KEY, getDrawer().option("opened"));
            }

            function updateDrawer() {
                var isXSmall = breakpoints.xSmallMedia.matches,
                    isLarge = breakpoints.largeMedia.matches;

                getDrawer().option({
                    openedStateMode: isLarge ? "shrink" : "overlap",
                    revealMode: isXSmall ? "slide" : "expand",
                    minSize: isXSmall ? 0 : 60,
                    shading: !isLarge,
                });
            }

            function init() {
                $("#layout-drawer-scrollview").dxScrollView({ direction: "vertical" });

                $.each(breakpoints, function(_, size) {
                    size.addListener(function(e) {
                        if(e.matches)
                            updateDrawer();
                    });
                });

                updateDrawer();

                $('.layout-body').removeClass('layout-body-hidden');

                $("#messages-button").dxButton({
                    icon: 'belloutline',
                    stylingMode: "text"
                });
            }

            function navigate(url, delay) {
                if(url)
                    setTimeout(function() { location.href = url }, delay);
            }

            function onMenuButtonClick() {
                getDrawer().toggle();
                saveDrawerOpened();
            }

            function onTreeViewItemClick(e) {
                var drawer = getDrawer();
                var savedOpened = restoreDrawerOpened();
                var actualOpened = drawer.option("opened");

                if(!actualOpened) {
                    drawer.show();
                } else {
                    var willHide = !savedOpened || !breakpoints.largeMedia.matches;
                    var willNavigate = !e.itemData.selected;

                    if(willHide)
                        drawer.hide();

                    if(willNavigate)
                        navigate(e.itemData.path, willHide ? 400 : 0);
                }
            }

            return {
                init: init,
                restoreDrawerOpened: restoreDrawerOpened,
                onMenuButtonClick: onMenuButtonClick,
                onTreeViewItemClick: onTreeViewItemClick
            };
        })();

        document.addEventListener("DOMContentLoaded", function documentReady() {
            this.removeEventListener("DOMContentLoaded", documentReady);
            devextreme_asp_ui_template_gallery.init();
        });
    </script>
</body>

</html>
