<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("_CommonStyles")
    @await Html.PartialAsync("_LayoutStyles")
    @await Html.PartialAsync("_CommonScripts")
    @await Html.PartialAsync("_LayoutScripts")
</head>
@using DevExtremeVSTemplateMVC.Models
@using DevExtremeVSTemplateMVC.DAL
@{
    string GetUrl(string action, string controller = "Home") => Url.Action(action, controller);
    string GetCurrentUrl() => Url.Action(ViewContext.RouteData.Values["action"].ToString());
    bool IsCurrentUrl(string action, string controller = "Home") => GetUrl(action, controller) == GetCurrentUrl();
    const string pathFieldName = "path";
}
<body class="dx-viewport">
    <div id="root">
        <div class="app screen-large">
            <div class="side-nav-outer-toolbar">
                <header class="header-component layout-header">
                    @(Html.DevExtreme().Toolbar()
                            .ElementAttr(new { @class = "header-toolbar" })
                            .ID("header-toolbar")
                            .Items(items =>
                            {
                                items.Add()
                            .Widget(w => w
                            .Button()
                            .Icon("menu")
                            .StylingMode(ButtonStylingMode.Text)
                            .OnClick("uitgAppContext.LayoutController.onMenuButtonClick")
                            )
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("menu-button");
                                items.Add()
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("header-title dx-toolbar-label header-title-width")
                            .Template(@<text>
                        <div>UI Template Gallery</div>
                    </text>);
                                items.Add()
                            .Location(ToolbarItemLocation.After)
                            .CssClass("global-search-box")
                            .Widget(w => w
                            .TextBox()
                            .Width(180)
                            .Placeholder("Search")
                            .Mode(TextBoxMode.Search)
                            .StylingMode(EditorStylingMode.Filled)
                            );
                                items.Add()
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                            .Location(ToolbarItemLocation.After)
                            .Widget(w => w
                            .Button()
                            .ElementAttr(new { @class = "theme-button" })
                            .StylingMode(ButtonStylingMode.Text)
                            .Icon("moon")
                            .OnInitialized("uitgAppContext.ThemeController.themeButtonOnInitialized")
                            .OnClick("uitgAppContext.ThemeController.themeSwitcherOnClick")
                            );
                                items.Add()
                            .Location(ToolbarItemLocation.After)
                            .Template(@<text>
                        <div class="messages">
                            @(Html.DevExtreme().Button()
                            .ID("toolbarMessagesButton")
                            .Icon("belloutline")
                            .StylingMode(ButtonStylingMode.Text)
                            )
                            <div class="dx-badge">4</div>
                        </div>
                                </text>);
                                items.Add()
                                    .Location(ToolbarItemLocation.After)
                                    .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                                    .Template(new TemplateName("user-drop-down-button"));
                            })
                        )
                </header>
                @(
                    Html.DevExtreme().Drawer()
                    .ID("layout-drawer")
                    .ElementAttr(new { @class = "drawer layout-body" })
                    .Position(DrawerPosition.Left)
                    .Opened(new JS("uitgAppContext.LayoutController.restoreDrawerOpened()"))
                    .Content(
                @<text>
                    <div class="content" data-placeholder-id="main-layout-body">
                        @RenderBody()
                    </div>
                    <div data-placeholder-id="main-layout-section">
                        @RenderSection("MySection", false)
                    </div>
                </text>)
                    .Template(new TemplateName("navigation-menu"))
                    )
            </div>
        </div>
    </div>

    @using (Html.DevExtreme().NamedTemplate("user-drop-down-button"))
    {
        <div>
            <div class="user-panel">
                @(Html.DevExtreme().DropDownButton()
                    .ID("userPanelDropDownButton")
                    .ElementAttr(new { @class = "user-button" })
                    .Icon(LocalDemoDataContext.User.AvatarUrl)
                    .ShowArrowIcon(false)
                    .StylingMode(ButtonStylingMode.Text)
                    .DropDownOptions(opt => opt.Width("auto").WrapperAttr(new { @class = "drop-down-menu" }))
                    .DropDownContentTemplate(
            @<text>
                <div class="user-info">
                    <div class="user-name" id="dropdown-username">
                        @String.Format("{0} {1}", LocalDemoDataContext.User.Name, LocalDemoDataContext.User.LastName)
                    </div>
                </div>
                @(Html.DevExtreme().List()
                .ID("userInfoList")
                .ElementAttr(new { @class = "user-info-list" })
                .Items(listItems => {
                listItems.Add().Icon("runner").Text("Logout");
                })
                .OnItemClick("uitgAppContext.LayoutController.onLogoutClick")
                )
            </text>)
                    )
            </div>
        </div>
    }
    @using (Html.DevExtreme().NamedTemplate("navigation-menu"))
    {
        <div class="side-navigation-menu">
            <div class="menu-container theme-dependent">
                @(
                    Html.DevExtreme().TreeView()
                    .ID("navigationTree")
                    .Items(items =>
                    {
                        items.Add().Text("Planning").Icon("event")
                        .Expanded(new JS("uitgAppContext.LayoutController.isNodeExpanded()"))
                        .Items(planningItems =>
                        {
                            planningItems.Add()
                        .Text("Task List")
                        .Option(pathFieldName, "/Home/PlanningTasks/Grid")
                        .Selected(GetCurrentUrl().Contains("PlanningTasks"));
                        });
                        items.Add().Text("Authentication").Icon("user")
                        .Expanded(new JS("uitgAppContext.LayoutController.isNodeExpanded()"))
                        .Items(authItems =>
                        {
                            authItems.Add()
                        .Text("Sign In Form")
                        .Option(pathFieldName, GetUrl("Login"))
                        .Selected(IsCurrentUrl("Login"));
                            authItems.Add()
                        .Text("Register Form")
                        .Option(pathFieldName, GetUrl("SignUp"))
                        .Selected(IsCurrentUrl("SignUp"));
                            authItems.Add()
                        .Text("Reset Password")
                        .Option(pathFieldName, GetUrl("ForgotPassword"))
                        .Selected(IsCurrentUrl("ForgotPassword"));
                        });
                        items.Add().Text("Common").Icon("box")
                        .Expanded(new JS("uitgAppContext.LayoutController.isNodeExpanded()"))
                        .Items(commonItems =>
                        {
                            commonItems.Add()
                        .Text("User Profile")
                        .Option(pathFieldName, GetUrl("UserProfile"))
                        .Selected(IsCurrentUrl("UserProfile"));
                        });
                    })
                    .ExpandEvent(TreeViewExpandEvent.Click)
                    .SelectionMode(NavSelectionMode.Single)
                    .SelectedExpr("selected")
                    .FocusStateEnabled(false)
                    .Width("100%")
                    .OnItemClick("uitgAppContext.LayoutController.onTreeViewItemClick")
                    )
            </div>
            <footer class="footer">
                Copyright &copy; @DateTime.Now.Year <br />
                Developer Express Inc.
            </footer>
        </div>
    }
 
 <script>
    document.addEventListener("DOMContentLoaded", function documentReady() {
            this.removeEventListener("DOMContentLoaded", documentReady);
            const app = window.uitgAppContext;
            app.LayoutController.init();
            app.ThemeController.init();
            app.SPARouter.init();
    });
 </script>   
</body>

</html>
