<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevExtreme ASP UI Template Gallery</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="~/css/fluent-light.css" rel="dx-theme" data-theme="fluent.blue.light"
    data-active="true" />
    <link href="~/css/fluent-dark.css" rel="dx-theme" data-theme="fluent.blue.dark"
    data-active="false" />

    <link href="~/css/layout/layout.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/router.js"></script>

    <script src="~/js/dx.all.js"></script>

    <script src="~/js/dx.aspnet.mvc.js"></script>
    <script src="~/js/dx.aspnet.data.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.5.0/luxon.min.js"></script>

    @* <script src="~/js/dx-template-gallery-data.js"></script> *@
</head>

<body class="dx-viewport">
    <div class="app screen-large">
        <div class="side-nav-outer-toolbar">
            <header class="header-component layout-header">
                @(Html.DevExtreme().Toolbar()
                            .ElementAttr(new { @class = "header-toolbar" })
                            .ID("header-toolbar")
                            .Items(items =>
                            {
                                items.Add()
                            .Widget(w => w
                            .Button()
                            .Icon("menu")
                            .StylingMode(ButtonStylingMode.Text)
                            .OnClick("LayoutController.onMenuButtonClick")
                            )
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("menu-button");
                                items.Add()
                            .Location(ToolbarItemLocation.Before)
                            .CssClass("header-title dx-toolbar-label header-title-width")
                            .Template(@<text>
                    <div>UI Template Gallery</div>
                </text>);
                                items.Add()
                            .Location(ToolbarItemLocation.After)
                            .CssClass("global-search-box")
                            .Widget(w => w
                            .TextBox()
                            .Width(180)
                            .Placeholder("Search")
                            .Mode(TextBoxMode.Search)
                            .StylingMode(EditorStylingMode.Filled)
                            );
                                items.Add()
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                            .Location(ToolbarItemLocation.After)
                            .Widget(w => w
                            .Button()
                            .OnInitialized("onThemeSwitcherInit")
                            .ElementAttr(new { @class = "theme-button" })
                            .StylingMode(ButtonStylingMode.Text)
                            .Icon("moon")
                            .OnClick("onThemeSwitcherClick")
                            );
                                items.Add()
                            .Location(ToolbarItemLocation.After)
                            .Template(@<text>
                    <div class="messages">
                        <div id="messages-button"></div>
                        <div class="dx-badge">4</div>
                    </div>
                </text>);
                                items.Add()
                            .Location(ToolbarItemLocation.After)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                            .Template(@<text>
                    <div>
                        <div class="user-panel"><div id="user-panel-drop-down" class="user-button"></div></div>
                    </div>
                </text>);
                            })
                        )
            </header>
            @(
                    Html.DevExtreme().Drawer()
                    .ID("layout-drawer")
                    .ElementAttr(new { @class = "layout-body" })
                    .Position(DrawerPosition.Left)
                    .Opened(new JS("LayoutController.restoreDrawerOpened()"))
                    .Content(
                    @<text>
                        <div class="content" data-placeholder-id="main-layout-body">
                            @RenderBody()
                        </div>
                        <div data-placeholder-id="main-layout-section">
                            @RenderSection("MySection", false)
                        </div>
                    </text>)
                    .Template(new TemplateName("navigation-menu"))
                    )
        </div>
    </div>
    @using (Html.DevExtreme().NamedTemplate("navigation-menu"))
    {
        <div class="side-navigation-menu">
            <div class="menu-container theme-dependent">
                @functions {
                string GetUrl(string action, string controller = "Home") => Url.Action(action, controller);
                string GetCurrentUrl() => Url.Action(ViewContext.RouteData.Values["action"].ToString());
                bool IsCurrentUrl(string action, string controller = "Home") => GetUrl(action, controller) == GetCurrentUrl();
                const string pathFieldName = "path";
        }

            @(
                        Html.DevExtreme().TreeView()
                            .ID("navigationTree")
                            .Items(items =>
                            {
                                items.Add().Text("Planning").Icon("event")
                                .Expanded(true)
                                .Items(planningItems =>
                                {
                                    planningItems.Add()
                                .Text("Home (to be removed)")
                                .Option(pathFieldName, GetUrl("Index"))
                                .Selected(IsCurrentUrl("Index"));
                                    planningItems.Add()
                                .Text("Task List")
                                .Option(pathFieldName, GetUrl("PlanningTasks"))
                                .Selected(IsCurrentUrl("PlanningTasks"));
                                });
                                items.Add().Text("Authentication").Icon("user")
                                .Expanded(true)
                                .Items(authItems =>
                                {
                                    authItems.Add()
                                .Text("Sign In Form")
                                .Option(pathFieldName, GetUrl("Login"))
                                .Selected(IsCurrentUrl("Login"));
                                    authItems.Add()
                                .Text("Sign Up Form")
                                .Option(pathFieldName, GetUrl("SignUp"))
                                .Selected(IsCurrentUrl("SignUp"));
                                    authItems.Add()
                                .Text("Reset Password")
                                .Option(pathFieldName, GetUrl("ForgotPassword"))
                                .Selected(IsCurrentUrl("ForgotPassword"));
                                });
                            })
                            .ExpandEvent(TreeViewExpandEvent.Click)
                            .SelectionMode(NavSelectionMode.Single)
                            .SelectedExpr("selected")
                            .FocusStateEnabled(false)
                            .Width(250)
                            .OnItemClick("LayoutController.onTreeViewItemClick")
                            )
            </div>
        </div>
    }
    @{
        var request = this.Context.Request;
        var uriBuilder = new UriBuilder(request.Scheme, request.Host.Host, request.Host.Port ?? -1);
        var baseUri = uriBuilder.Uri.AbsoluteUri.TrimEnd('/');
    }
    <script>
        DevExpress.ui.themes.current(window.localStorage.getItem("dx-theme") || "fluent.blue.light");

        function onThemeSwitcherInit(e) {
            DevExpress.ui.themes.current() === "fluent.blue.light" ? e.component.option("icon", "moon") : e.component.option("icon", "sun");
            window.localStorage.setItem("dx-theme", DevExpress.ui.themes.current());
        }
        function onThemeSwitcherClick(e) {
            DevExpress.ui.themes.current() === "fluent.blue.light" ? e.component.option("icon", "sun") : e.component.option("icon", "moon");
            DevExpress.ui.themes.current() === "fluent.blue.light" ? DevExpress.ui.themes.current("fluent.blue.dark") : DevExpress.ui.themes.current("fluent.blue.light");
            window.localStorage.setItem("dx-theme", DevExpress.ui.themes.current());
        }

        const ToolbarContentController = (function() {
            function onLogoutClick() {
                SPARouter.navigate("/Auth/Login");
            }

            const userMenuItems = [{
                text: "Logout",
                icon: "runner",
                onClick: onLogoutClick
            }];

            function onDrawerMenuButtonClick(){
                $("#layout-body").dxDrawer("instance").toggle();
            }

            const dropDownButtonConfig = {
                stylingMode: "text",
                icon: "user",
                showArrowIcon: false,
                dropDownOptions: {
                    width: "auto"
                },
                onContentReady: (e) => {
                    $.ajax({
                        url: '/api/userdata/',
                        method: 'GET',
                        success: (response) => {
                            console.log(response);
                            // Set the image source dynamically
                            e.component.option("icon", response.url);
                            $("#dropdown-username").text(response.name + " " + response.lastName);
                        }
                    });

                    e.component.registerKeyHandler('downArrow', () => {
                        // userMenuSectionRef.value?.focusList();
                    });
                },
                dropDownContentTemplate: (data) => {
                    const wrapperDiv = $("<div class='user-info'></div>");
                    wrapperDiv.append($(`<div class='user-name' id='dropdown-username'></div>`));
                    const divList = $("<div id='userInfoListRef' class='user-info-list'></div>")
                    divList.dxList({
                        items: userMenuItems,
                        onItemClick: ({itemData}) => itemData.onClick(),
                    });
                    return wrapperDiv.add(divList);
                },
            };

            const messagesButtonConfig = {
                icon: "belloutline",
                stylingMode: "text"
            };

            function init() {
                $("#messages-button").dxButton(messagesButtonConfig)
                $("#user-panel-drop-down").dxDropDownButton(dropDownButtonConfig);
            }

            return {
                init: init,
            };
        })();

        const LayoutController = (function() {

            const DRAWER_OPENED_KEY = "DevExtremeASPTemplateGallery-drawer-opened";

            const breakpoints = {
                xSmallMedia: window.matchMedia("(max-width: 599.99px)"),
                smallMedia: window.matchMedia("(min-width: 600px) and (max-width: 959.99px)"),
                mediumMedia: window.matchMedia("(min-width: 960px) and (max-width: 1279.99px)"),
                largeMedia: window.matchMedia("(min-width: 1280px)")
            };

            function getDrawer() {
                return $("#layout-drawer").dxDrawer("instance");
            }

            function restoreDrawerOpened() {
                const isLarge = breakpoints.largeMedia.matches;
                if(!isLarge)
                    return false;

                const state = sessionStorage.getItem(DRAWER_OPENED_KEY);
                if(state === null)
                    return isLarge;

                return state === "true";
            }

            function saveDrawerOpened() {
                sessionStorage.setItem(DRAWER_OPENED_KEY, getDrawer().option("opened"));
            }

            function updateDrawer() {
                const isXSmall = breakpoints.xSmallMedia.matches,
                    isLarge = breakpoints.largeMedia.matches;

                getDrawer().option({
                    openedStateMode: isLarge ? "shrink" : "overlap",
                    revealMode: isXSmall ? "slide" : "expand",
                    minSize: isXSmall ? 0 : 48,
                    shading: !isLarge,
                });
            }

            function init() {
                $.each(breakpoints, function(_, size) {
                    size.addListener(function(e) {
                        if(e.matches)
                            updateDrawer();
                    });
                });
                window.navigation.addEventListener("navigate", (e) => {
                    const tree = $("#navigationTree").dxTreeView("instance");
                    const leafs = tree.option("items").reduce((acc, cur) => { return [...acc, ...cur.items] }, []);
                    const targetItem = leafs.find(i => e.destination.url === ('@baseUri' + i.path));
                    tree.selectItem(targetItem);
                });
                updateDrawer();
            }

            function navigate(url, delay) {
                if(url)
                    setTimeout(function() {
                        SPARouter.navigate(url);
                    }, delay);
            }

            function onMenuButtonClick() {
                getDrawer().toggle();
                saveDrawerOpened();
                const opened = getDrawer().option("opened");
                $("#navigationTree").dxTreeView(opened ? "expandAll" : "collapseAll")
            }

            function onTreeViewItemClick(e) {
                if (e.node.children.length > 0) return;
                const drawer = getDrawer();
                const savedOpened = restoreDrawerOpened();
                const actualOpened = drawer.option("opened");

                if(!actualOpened) {
                    drawer.show();
                } else {
                    const willHide = !savedOpened || !breakpoints.largeMedia.matches;
                    const willNavigate = !e.itemData.selected;

                    if(willHide)
                        drawer.hide();

                    if(true || willNavigate)
                        navigate(e.itemData.path, willHide ? 400 : 0);
                }
            }

            return {
                init: init,
                restoreDrawerOpened: restoreDrawerOpened,
                onMenuButtonClick: onMenuButtonClick,
                onTreeViewItemClick: onTreeViewItemClick
            };
        })();

        document.addEventListener("DOMContentLoaded", function documentReady() {
            this.removeEventListener("DOMContentLoaded", documentReady);
            LayoutController.init();
            ToolbarContentController.init();
            SPARouter.init();
        });
    </script>
</body>

</html>
