@using DevExtremeVSTemplateMVC.Models
@model TaskListPartialViewModel

@using System.IO
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures


@{
    string htmlString;

    using (var writer = new System.IO.StringWriter())
    {
        var originalWriter = ViewContext.Writer;
        ViewContext.Writer = writer;
        List<EmployeeTask> list = Model.TaskList.Where(t => t.Status == Model.Status.ListName).OrderBy(t => t.OrderIndex).ToList();
        foreach (EmployeeTask item in list)
        {
            var priority = item.Priority.ToLower();

            <div class='kanban-card dx-card theme-text-color theme-bg-color' data-task-id="@item.TaskId" onclick="navigateToDetails()">
                <div class="card-wrapper priority-@priority">
                    <div class='card-priority'></div>
                    @(Html.DevExtreme().Button()
                        .ElementAttr(new { @class = "edit-button" })
                        .Icon("edit")
                        .StylingMode(ButtonStylingMode.Text)
                        .OnClick("onClick")
                    )
                    <div class='card-content'>
                        <div class='card-subject theme-text-color'>@item.OrderIndex || @item.TaskId || @item.Text</div>
                        <div class='card-data'>
                            <span class='priority'>@item.Priority</span>
                            <span class='date theme-text-color'>@item.DueDate?.ToString("MM/dd/yyy")</span>
                        </div>
                        <div class='card-assignee'>
                            <span class='company theme-text-color'>@item.Company</span>
                            <div class="circle">
                                @{
                                    var initials = string.Join("", (item.Owner ?? "")
                                    .Split(' ', StringSplitOptions.RemoveEmptyEntries)
                                    .Select(n => n[0]));
                                }
                                @initials
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        ViewContext.Writer = originalWriter;
        htmlString = writer.ToString();
    }
}

<div class="list">
    <div class="list-title theme-text-color">
        <span>@Model.Status.ListName</span>
        @(
            Html.DevExtreme().DropDownButton()
                .ElementAttr(new
                {
                    @class="overflow-menu"
                })
                .DataSource(new[] {
                    new { text = "Add card" },
                    new { text = "Copy list" },
                    new { text = "Move list" }
                })
                .KeyExpr("text")
                .DisplayExpr("text")
                .Visible(true)
                .Icon("overflow")
                .StylingMode(ButtonStylingMode.Text)
                .ShowArrowIcon(false)
                .DropDownOptions(options => options.Width("auto"))
            )
    </div>
    @(Html.DevExtreme().ScrollView()
        .ElementAttr(new { @class = "scrollable-list" })
        .Direction(ScrollDirection.Vertical)
        .ShowScrollbar(ShowScrollbarMode.Always)
        .Content(@<text>
        @(Html.DevExtreme().Sortable()
                .ElementAttr(new { @class = "sortable-cards" })
                .Group("cardsGroup")
                .Data("Index")
                .MoveItemOnDrop(true)
                .OnAdd("onTaskDrop")
                .OnReorder("onTaskDrop")
                .Content(htmlString))
        <div class="add-task">
            @(Html.DevExtreme().Button()
            .Icon("plus")
            .Text("Add Task")
            .StylingMode(ButtonStylingMode.Text)
            .Width("100%")
            .OnClick("changePopupVisibility")
            )
        </div>
    </text>))
</div>
